<% @user ||= current_user %>
<div class="border-top border-bottom pt-2 pb-3">
    <div class="d-flex justify-content-center mt-2">
        <div class="posts mr-3 ml-3">
            <a href="<%= microposts_path(@user) %>">
                <strong><%= @user.microposts.count %></strong>&nbsp;Posts
            </a>
        </div>
        <div class="following mr-3">
            <a href="<%= following_user_path(@user) %>">
            <strong><%= @user.following.count %></strong>&nbsp;Following
            </a>
        </div>
        <div class="followers">
            <a href="<%= followers_user_path(@user) %>">
                <strong><%= @user.followers.count %></strong>&nbsp;Followers
            </a>
        </div>
    </div>
</div>