<!--<%= render 'components/profile_stats'%>-->
<div class="container">
  <% provide(:title, " | #{@user.username}") %>
  <%= render 'shared/error_messages' %>
      <div class="row mt-4">
          <div class="col-3">
              <%= render 'components/profile_intro' %>
          </div>
          <div class="col-9">
              <%= render 'components/profile_status'%>
              <%= render 'components/profile_music_player'%>
              <%= render 'components/profile_comments'%>
              <%= render 'components/profile_show_comments'%>
          </div>
      </div>
</div>