<div class="card">
    <div class="card-body login-max-width">
        <%= render 'shared/error_messages' %>
        <%= form_for(:session, url: login_path) do |e| %>
            <div class="form-group input-group-lg">
                <%= e.label :email %>
                <%= e.email_field :email, class: 'form-control', placeholder: "myname@example.com" %>
            </div>
            <div class="form-group input-group-lg">
                <%= e.label :password %>
                <%= e.password_field :password, class: 'form-control', placeholder: "Your password" %>
                <small class="text-muted">
                    Must be 8-20 characters long.
                </small>
            </div>
            <div class="remember-me checkbox">
                <div class="form-group ml-4">
                    <%= e.label :remember_me, class: "checkbox inline" do %>
                        <%= e.check_box :remember_me, class: "form-check-input" %>
                        <span class="pull-left">Remember me</span>
                    <% end %>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 forgot-password">
                    <%= link_to "Forgot Password?", 'users#forgot' %><!-- change this later, also in signup for partial -->
                </div>
                <div class="col-md-4 sign-up">
                    <%= link_to "Sign up now!", signup_path %>
                </div>
            </div>
            <%= e.submit "Log in", class: "btn btn-success btn-block" %>
        <% end %>
    </div>
</div>