<% if logged_in? %>

<% else %>
<div class="center jumbotron jumbotron-welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <h1 class="display-4 text-white">Welcome to the SocialNetwork</h1>
                <h2 class="lead text-white">
                    Sign up and follow friends, artists, bands, interest groups, and more!
                </h2>
            </div>
            <div class="col-md-6 mb-3">
                <%= render 'shared/signup_form' %>
            </div>
        </div>
    </div>
</div>
<section class="introduction mt-5" style="height: 600px;">
    <div class="container">
        <h1 class="display-4 text-center">Follow your Interests</h1>
            <div class="d-flex flex-row justify-content-center">
                <div class="card text-center justify-content-center border-primary mt-5 w-25 shadow-lg ">
                    <div class="card-body">
                        <h5 class="card-title"><%= link_to "JaneSmith", "/" %></h5>
                        <div class="row justify-content-center">
                            <%= image_tag("https://www.fujifilmusa.com/products/digital_cameras/x/fujifilm_x20/sample_images/img/index/ff_x20_008.JPG", size: "200x200", :alt => "Jane Smith") %>
                        </div>
                        <p class="card-text mt-2">Bike Riding, Hiking, Music</p>
                        <a href="#" class="btn btn-primary btn-block">Follow</a>
                    </div>
            </div>
    </div>
</section>
<section class="d-flex flex-row align-content-center hero">
    <svg class="svg-angle-top" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,0 100,0 100,100" />
    </svg>
    <div class="d-flex align-items-center justify-content-center container">
        <h1 class="display-4 text-center text-white mr-auto">Join Interest Groups</h1>
        <div class="card text-center border-dark w-25 shadow-lg ">
            <div class="card-body">
                <h5 class="card-title"><%= link_to "Killer Queen Cincy", "/" %></h5>
                <div class="row justify-content-center">
                    <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR8fReaSvYXgIPp8Igud_aMvOIIdPB31wXarogrdlz0TMos3GJ", size: "200x200", :alt => "Jane Smith") %>
                </div>
                <a href="#" class="btn btn-primary btn-block mt-3">Follow</a>
            </div>
        </div>
    </div>
    <svg class="svg-angle-bottom" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,0 100,100" />
    </svg>
</section>
<style type="text/css">
  .jumbotron-welcome {
      background: linear-gradient( rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0) ), url(<%= randomized_background_image %>);
      min-height: 550px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 0%;
  }
</style>
<% end %>
