<li class="list-group-item micropost"> <!--  id="micropost-<%= micropost.id %>" -->
    <%= link_to "View Post", '#', :data => { :modal =>  "true" } do %>
    <div class="row">
      <div class="col-sm-2">
          <%= link_to gravatar_for(micropost.user, size: 50), micropost.user, class: "mt-2" %>
      </div>
      <div class="col">
          <div class="row">
              <span class="user"><%= link_to micropost.user.username, micropost.user %></span>
              <span class="user font-weight-light">&nbsp;<%= micropost.user.name %></span>
          </div>
          <div class="row">
              <span class="content"><%= micropost.content %></span> 
          </div>
          <div class="row">
              <small class="text-muted text-right"><%= time_ago_in_words(micropost.created_at) %> ago</small>
          </div>
      </div>
  </div>
  <% end %> 
  <%= render 'micropost/micropost_modal'%>
</li>