<div class="card">
    <div class="card-body login-max-width">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#login-pane" data-toggle="tab" aria-expanded="false">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#register-pane" data-toggle="tab" aria-expanded="false">Register</a>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <div class="active login-box tab-pane" id="login-pane" role="tabpanel">
                <form>
                    <div class="form-group">
                        <label for="user-email">Email:</Label>
                        <input type="email" class="form-control" name="user-email" id="user-email" required/>
                    </div>
                    <div class="form-group">
                        <label for="user-password">Password</Label>
                        <input type="password" class="form-control" name="user-password" id="user-password" required/>
                    </div>
                    <div class="remember-me checkbox">
                        <div class="form-group ml-4">
                            <label for="remember">
                                <input type="checkbox" class="form-check-input" name="remember" id="remember" value="0" />
                                <span class="pull-left">Remember me</span>
                                <div class="pull-right forgot-password">
                                    <a href="/forgot">Forgot your password?</a>
                                </div>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Sign In</Button>
                </form>
            </div>
            <div class="login-box tab-pane" id="register-pane" role="tabpanel">
                <!--<form> -->
                <%= form_for(@user) do |f| %>
                    <div class="form-group">
                        <label for="name">Full name:</label>
                        <!--<input type="text" class="form-control" name="fullname" id="fullname" required/>-->
                        <%= f.text_field :name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <!--<input type="text" class="form-control" name="username" id="username" required/>-->
                        <%= f.text_field :username, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <!--<input type="email" class="form-control" name="email" id="email" required/>-->
                        <%= f.email_field :email, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <!--<input type="password" class="form-control" name="password" id="password" required/>-->
                        <%= f.password_field :password, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <label for="password">Password Confirmation</label>
                        <!--<input type="password" class="form-control" name="password" id="password" required/>-->
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                    </div>
                    <div className="terms-and-conditions checkbox mt-3">
                        <div class="form-group ml-4">
                            <label for="terms-and-conditions">
                                <input type="checkbox" class="form-check-input" name="terms-and-conditions" id="terms-and-conditions" value="0" required />
                                <span>I have read and agree to the <a href="/" data-toggle="modal" data-target="#termsAndConditions">Terms and Conditions</a></span>
                                <!-- Modal -->
                                <div class="modal fade" id="termsAndConditions" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Sample.com Terms and Conditions</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                            <div class="modal-body">
                                                <h1>Terms and Conditions ("Terms")</h1>
                                                <p>Last updated: January 02, 2019</p>
                                                <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the sample.com website (the "Service") operated by sample app ToS ("us", "we", or "our").</p>
                                                <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
                                                <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms and Conditions agreement  for sample app ToS is based on the <a href="https://termsfeed.com/blog/sample-terms-and-conditions-template/">TermsFeed's Terms and Conditions Template</a>.</p>
                                                <h2>Accounts</h2>
                                                <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
                                                <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
                                                <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
                                                <h2>Links To Other Web Sites</h2>
                                                <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by sample app ToS.</p>
                                                <p>sample app ToS has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that sample app ToS shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
                                                <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
                                                <h2>Termination</h2>
                                                <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                                                <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                                                <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                                                <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
                                                <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                                                <h2>Governing Law</h2>
                                                <p>These Terms shall be governed and construed in accordance with the laws of Kentucky, United States, without regard to its conflict of law provisions.</p>
                                                <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
                                                <h2>Changes</h2>
                                                <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
                                                <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
                                                <h2>Contact Us</h2>
                                                <p>If you have any questions about these Terms, please contact us.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <!--<button type="submit" class="btn btn-primary btn-block">Register</Button>-->
                    <%= f.submit "Create my account", class: "btn btn-primary btn-block" %>
                <!--</form> -->
                <% end %>
            </div>
        </div>
    </div>
</div>